.env
wp-content/uploads/
wp-config.php





wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/cache/
wp-content/upgrade/
wp-content/backup-*/ 
wp-content/upgrade-*
wp-content/*.bak

node_modules/
vendor/

Gruntfile.js
gulpfile.js
package-lock.json
package.json

.idea/
*.iml


*.sublime-project
*.sublime-workspace


phpunit.xml
phpunit.xml.dist